*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
h1,
h2,
h3 {
  font-size: 70px;
}
span{
  font-size: 25px;
  font-weight: 800;
}
.nav-link {
  border-left: 2px solid #000;
}
.nav-link:hover{
  background-color: #cecaca80;
}
.first-section {
  position: relative;
  background: url(imgs/Greek-Channels-banner.jpg) center center / cover no-repeat;
  height: 100vh;
  width: 100%;
}

.first-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.719); /* Optional: black transparent overlay */
  z-index: 1;
}

.first-section h1 {
  color: white;
  font-size: 2.5rem;
  z-index: 2;
  position: relative;
  text-align: center;
}
.classic img{
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.footer{
  padding: 50px;
}
.fa-brands{
  cursor: pointer;
  transition: color 0.3s ease;
}
.fa-brands:hover{
  color: #eceaea7a;
}