*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
h1,
h2,
h3{
  font-size: 50px;
}
.nav-link {
  border-left: 2px solid #000;
}
.nav-link:hover{
  background-color: #cecaca80;
}
.first-section {
  position: relative;
  background: url(imgs/Greek-Channels-banner.jpg) center center / cover no-repeat;
  height: 100vh;
  width: 100%;
}
.first-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.719); /* Optional: black transparent overlay */
  z-index: 1;
}
.first-section h1 {
  color: white;
  font-size: 2.5rem;
  z-index: 2;
  position: relative;
  text-align: center;
}
.swiper {
  width: 100%;
  height: 200px; /* adjust as needed */
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.second-section {
  margin: 40px 20px; /* Smaller margins for better responsiveness */
  text-align: start;
  line-height: 1.5; /* Normal line spacing */
}
.second-section h2 {
  font-size: 50px; /* Slightly reduced for smaller screens */
  margin-bottom: 20px;
}
.sec-two {
  position: relative;
  background: url(imgs/bca4bbe3-c647-4f31-bb7c-8254e942d248.jpg) center center / cover no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  text-align: start;
}
.sec-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.sec-two .content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 40px 80px;
}
.btn {
  background-color: #fff;
  font-weight: bold;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
  display: inline-block;
}
.btn:hover{
  background-color: #858484ef;
  color: #000;
}

.footer{
  padding: 50px;
}
.fa-brands{
  cursor: pointer;
  transition: color 0.3s ease;
}
.fa-brands:hover{
  color: #eceaea7a;
}

@media (min-width: 768px) {
  .second-section {
    margin: 80px;
  }

  .second-section h2 {
    font-size: 3rem;
  }
}